
/bin/
/reports/

/tests/fixtures/project_01/
!/tests/fixtures/project_01/drush/drush.yml

/vendor/

/phpcs.xml
/phpunit.xml

/composer.core-plus1.json
/composer.core-plus1.lock
/composer.local.json
/composer.local.lock
/.gitattributes
