<?xml version="1.0"?>
<ruleset name="DrupalCustom">
  <file>src/</file>
  <file>src-dev/</file>
  <exclude-pattern>src-dev/fixtures/*</exclude-pattern>
  <file>RoboFile.php</file>

  <arg
    name="extensions"
    value="inc/PHP,install/PHP,module/PHP,php/PHP,profile/PHP,test/PHP,theme/PHP"/>

  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal">
    <exclude name="Drupal.Commenting.ClassComment.Missing"/>
    <exclude name="Drupal.Commenting.FunctionComment.Missing"/>
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
  </rule>

  <rule ref="vendor/drupal/coder/coder_sniffer/DrupalPractice" />

  <rule ref="Drupal.Classes.FullyQualifiedNamespace.UseStatementMissing">
    <exclude-pattern>src-dev/expected/*</exclude-pattern>
  </rule>
</ruleset>
