<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/src/bootstrap.php"
  verbose="true"
  colors="true">

  <php>
    <!-- E_DEPRECATED = 8192 -->
    <!-- E_USER_DEPRECATED = 16384 -->
    <!-- E_ALL = 32767 -->
    <!-- E_ALL & ~E_DEPRECATED = 24575 -->
    <!-- E_ALL & ~E_USER_DEPRECATED = 16383 -->
    <ini name="error_reporting" value="32767" />

    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1" />

    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />

    <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
    <!-- <env name="SIMPLETEST_BASE_URL" value=""/> -->
    <!-- <env name="DTT_BASE_URL" value=""/> -->

    <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
    <!-- <env name="SIMPLETEST_DB" value=""/> -->

    <!-- Example UNISH_DB_URL value: mysql://me:my_password@127.0.0.1:3306/my_db_01 -->
    <!-- <env name="UNISH_DB_URL" value=""/> -->

    <env name="UNISH_NO_TIMEOUTS" value="y" />

    <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
    <!-- <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/> -->
  </php>

  <testsuites>
    <testsuite name="Unit">
      <directory>tests/src/Unit/</directory>
    </testsuite>

    <testsuite name="Integration">
      <directory>tests/src/Integration/</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true">
    <include>
      <directory>Commands/</directory>
      <directory>src/</directory>
    </include>

    <report>
      <text outputFile="php://stdout" />
      <html outputDirectory="reports/human/coverage/all/html" />

      <clover outputFile="reports/machine/coverage/all/clover.xml" />
      <php outputFile="reports/machine/coverage-php/all.php" />
      <xml outputDirectory="reports/machine/coverage/all/xml" />
    </report>
  </coverage>

  <logging>
    <testdoxHtml outputFile="reports/human/unit/junit.all.html" />

    <junit outputFile="reports/machine/unit/junit.all.xml" />
  </logging>
</phpunit>
